.print {
  margin: 30px 0px;
  border: 1px solid #cccccc;
  min-height: 360px;
}

.bill {
  font-size: 12px;
  padding: 20px;
  min-width: 360px;

  .right {
    text-align: right;
  }

  .center {
    text-align: center;
  }

  .left {
    text-align: left;
  }

  .header {
    padding-bottom: 7px;

    .title {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
    }

    .code {
      text-align: right;
      font-weight: bold;
    }

    .date {
      text-align: right;
      font-weight: bold;
    }
  }

  .body {
    table {
      border-collapse: collapse;
      width: 100%;

      th {
        border: 1px solid #dddddd;
        text-align: center;
      }

      td {
        border: 1px solid #dddddd;
      }
    }
  }

  .footer {
    padding: 5px;
    margin-top: 10px;
    font-weight: 700;

    p {
      margin: 0px;
    }
  }
}
