.process {
  padding: 5vw 0;

  .slogun {
    h2 {
      font-weight: 700;
    }

    hr {
      width: 10vw;
      border: none;
      padding: 4px;
      background-color: #f48024;
    }
  }

  .item-wrap {
    text-align: left;

    .icon {
      text-align: center;
    }

    .content {
      h4 {
        margin-top: 0px;
        margin-bottom: 15px;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .item {
    padding: 15px;
  }

  .text-center {
    text-align: center;
  }
}
