<div
  class="process"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
>
  <div class="slogun">
    <h2>Learn and grow with Stack Overflow</h2>
    <hr />
  </div>
  <div
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign="center center"
    fxLayoutGap="30px"
  >
    <div
      class="item-wrap"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="center center"
      fxLayoutGap="30px"
    >
      <div class="item" fxFlex="auto">
        <div class="icon">
          <img src="../../../assets/developer.svg" />
        </div>
        <div class="content" ngClass.xs="text-center">
          <h4>Write the script of the future 1</h4>
          <p>
            Get your coding questions answered to learn, build, and level up
            whether you’re beginning with JavaScript or a React professional.
          </p>
        </div>
      </div>
      <div class="item" fxFlex="auto">
        <div class="icon">
          <img src="../../../assets/open-source.svg" />
        </div>
        <div class="content" ngClass.xs="text-center">
          <h4>Write the script of the future 2</h4>
          <p>
            Get your coding questions answered to learn, build, and level up
            whether you’re beginning with JavaScript or a React professional.
          </p>
        </div>
      </div>
    </div>
    <div
      class="item-wrap"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="center center"
      fxLayoutGap="30px"
    >
      <div class="item" fxFlex="auto">
        <div class="icon">
          <img src="../../../assets/advocate.svg" />
        </div>
        <div class="content" ngClass.xs="text-center">
          <h4>Write the script of the future 3</h4>
          <p>
            Get your coding questions answered to learn, build, and level up
            whether you’re beginning with JavaScript or a React professional.
          </p>
        </div>
      </div>
      <div class="item" fxFlex="auto">
        <div class="icon">
          <img src="../../../assets/career-switcher.svg" />
        </div>
        <div class="content" ngClass.xs="text-center">
          <h4>Write the script of the future 4</h4>
          <p>
            Get your coding questions answered to learn, build, and level up
            whether you’re beginning with JavaScript or a React professional.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
