<div class="container background">
  <div class="price-list">
    <div *ngIf="prices && prices.length > 0" class="item">
      <h3 class="title"><i class="fa fa-tint"></i> Giặt sấy thường</h3>
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-between start"
        fxLayoutAlign.xs="center center"
        fxLayoutAlign.sm="center center"
        fxLayoutGap="30px"
      >
        <app-price-item
          *ngFor="let item of prices"
          title="{{ item.name }}"
          image="{{ item.image }}"
          description="{{ item.description }}"
          rate="{{ item.rate }}"
          [fxFlex]="100 / prices.length"
          fxFlex.xs="auto"
          fxFlex.sm="auto"
        >
        </app-price-item>
      </div>
    </div>
    <div *ngIf="combo && combo.length > 0" class="item">
      <h3 class="title"><i class="fa fa-tint"></i> Giặt sấy theo combo</h3>
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="center end"
        fxLayoutAlign.xs="center center"
        fxLayoutGap="30px"
      >
        <app-combo
          *ngFor="let item of combo"
          title="{{ item.name }}"
          combo="{{ item.methodName }}"
          delivery="{{ item.methodDescription }}"
          description="{{ item.description }}"
          rate="{{ item.rate }}"
          [fxFlex]="100 / combo.length"
          fxFlex.xs="auto"
          fxFlex.sm="auto"
        >
        </app-combo>
      </div>
    </div>
    <div *ngIf="laundry && laundry.length > 0" class="item">
      <h3 class="title"><i class="fa fa-tint"></i> Giặt hấp hoàn hảo</h3>
      <div class="item-list">
        <app-item
          *ngFor="let item of laundry; let i = index"
          itemUrl="{{ item.image }}"
          itemName="{{ item.name }}"
          itemRate="{{ item.rate }}"
        ></app-item>
      </div>
    </div>
  </div>
</div>
