<mat-toolbar>
  <mat-toolbar-row>
    <a [routerLink]="['/']" (click)="onItemClick()">
      <i class="logo logo-animate fa fa-eercast" aria-hidden="true"></i>
      <span class="title">Brand</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-nav-list>
  <h2 matSubheader>sub Title</h2>
  <a
    *ngFor="let item of desktopLinks"
    mat-list-item
    (click)="onItemClick()"
    [routerLink]="['/' + item.path]"
    routerLinkActive="list-item-active"
  >
    <!-- <mat-icon matListIcon> {{ item.icon }} </mat-icon> -->
    {{ item.label }}
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>
