/** Color */
$color-red: #ff0000;
$color-green: #00ff00;
$color-green-light: #7dc244;
$color-blue: #273986;
$color-blue-light: #4568ff;
$color-blue-blur: #3c8dbc;
$color-orange: #f4831e;
$color-black: #000000;
$color-white: #ffffff;
$color-white-light: #f2f2f2;
$color-white-blur: #f2f2f24a;
$color-gray: #666666;
$color-gray-light: #f5f5f580;

/* Font size */
$font-small: 13px;
$font-medium: 15px;
$font-large: 23px;

$mat-primary-laundy: (
  50: #fff8e1,
  100: #ffecb3,
  200: #ffe082,
  300: #ffd54f,
  400: #ffca28,
  500: #F48024,
  600: #ffb300,
  700: #ffa000,
  800: #ff8f00,
  900: #ff6f00,
  A100: #ffe57f,
  A200: #ffd740,
  A400: #ffc400,
  A700: #ffab00,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);
