// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~bootstrap/scss/bootstrap.scss";
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$laundry-primary: mat-palette($mat-indigo);
$laundry-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$laundry-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$laundry-theme: mat-light-theme(
  $laundry-primary,
  $laundry-accent,
  $laundry-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($laundry-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fafafa;
}

a {
  color: #202124;
  text-decoration: none;
  background-color: transparent;
}

.container {
  max-width: 959px;
  margin: 0px auto;
}

.background {
  background-color: #ffffff;
}

.text-center {
  text-align: center;
}

.margin-auto {
  margin: 0 auto;
}

.slogun {
  // padding-bottom: 30px;
  max-width: 550px;
  text-align: center !important;

  h1,
  h2 {
    font-weight: 700;
  }

  hr {
    width: 10vw;
    border: none;
    padding: 4px;
    background-color: #f48024;
  }

  button {
    background-color: #f48024 !important;
  }
}

//override mat css
.mat-horizontal-stepper-header {
  height: 50px !important;
}

table {
  tbody {
    .action {
      button {
        margin: 0 10px;
      }
    }
  }
}

.form-check {
  line-height: 40px;

  label {
    line-height: 24px;
  }
}

.required::after {
  content: "(*)";
  padding: 5px;
  color: #ff3733;
  font-weight: bold;
}

.error {
  color: #ff3733;
  margin-top: 5px;

  label {
    color: #ff3733;
    margin-top: 5px;
  }
}
