<mat-toolbar class="menu" [ngClass]="{ 'shrink-toolbar': shrinkToolbar }">
  <mat-toolbar-row fxShow fxHide.xs>
    <div
      class="menu-desktop"
      fxLayout="row"
      fxLayoutAlign="space-between stretch"
    >
      <div class="brand" *ngIf="brand">
        <a [routerLink]="['/']">
          <i class="logo logo-animate fa fa-eercast" aria-hidden="true"></i>
          <span class="brand">{{ brand }}</span>
        </a>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <div class="nav-bar">
          <a
            class="item"
            *ngFor="let menu of getMenuDesktop"
            [routerLink]="[menu.url]"
            mat-button
          >
            {{ menu.label }}</a
          >
          <a
            class="item"
            routerLink="/dat-ngay"
            mat-flat-button
            color="primary"
          >Đặt ngay</a
          >
        </div>
        <div class="account">
          <a mat-button [matMenuTriggerFor]="appMenu">
            <mat-icon>account_circle</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row fxHide fxShow.xs>
    <div
      class="menu-mobile"
      fxFlex="auto"
      fxLayout="row"
      fxLayoutAlign="space-between"
    >
      <div class="brand">
        <span (click)="onSideBarToggle()"><i class="fa fa-bars"></i></span>
        <a class="brand" [routerLink]="['/']">{{ brand }}</a>
      </div>
      <div class="account">
        <i class="fa fa-user-circle" [matMenuTriggerFor]="appMenu"></i>
      </div>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row fxHide fxShow.xs>
    <nav class="menu-mobile" mat-tab-nav-bar fxFlex="auto">
      <a
        mat-tab-link
        fxFlex="auto"
        *ngFor="let menu of getMenuMobile"
        [routerLink]="[menu.url]"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ menu.label }}
      </a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item routerLink="/order/tracking">Theo dõi đơn hàng</button>
  <button mat-menu-item routerLink="/ma-giam-gia">Mã giảm giá</button>
</mat-menu>
