a {
  color: #202124;
  text-decoration: none;
  background-color: transparent;
}

ul {
  list-style: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.menu-desktop {
}

.menu-mobilde {
  padding-bottom: 1vh;

  .nav-bar {
    .item {
      text-align: center;
      width: 100%;

      a {
        position: relative;
        overflow: hidden;
        width: inherit;
        background-color: aqua;
      }
    }
  }
}
