a {
  color: #202124;
  text-decoration: none;
  background-color: transparent;
}

ul {
  list-style: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}


.menu-mobide {
  padding-bottom: 1vh;
}
