<div>
  <div
    class="menu-desktop"
    fxHide.xs
    fxShow
    fxLayout="row"
    fxLayoutAlign="space-between stretch"
  >
    <div class="brand">
      <a routerLink=".">
        <i class="logo logo-animate fa fa-eercast" aria-hidden="true"></i>
        <span class="title">Brand</span>
      </a>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between stretch">
      <div class="nav-bar">
        <a
          *ngFor="let link of desktopLinks"
          [routerLink]="['/'+link.path]"
          mat-flat-button
        >
          {{ link.label }}</a
        >
      </div>
      <div class="account">
        <i class="fa fa-user" [matMenuTriggerFor]="appMenu"></i>
      </div>
    </div>
  </div>

  <div
    class="menu-mobilde"
    fxHide
    fxShow.xs
    fxLayout="column"
    fxLayoutAlign="stretch"
  >
    <div fxFlex="auto" fxLayout="row" fxLayoutAlign="space-between stretch">
      <div class="brand">
        <a routerLink=".">
          <i class="logo logo-animate fa fa-eercast" aria-hidden="true"></i>
          <span class="title">Brand</span>
        </a>
      </div>
      <div class="account">
        <i class="fa fa-user" [matMenuTriggerFor]="appMenu"></i>
      </div>
    </div>
    <div class="nav-bar" fxFlex="auto">
      <nav mat-tab-nav-bar>
        <a
          mat-tab-link
          fxFlex="auto"
          *ngFor="let link of mobileLinks"
          [routerLink]="[link.path]"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
        >
          {{ link.label }}
        </a>
      </nav>
    </div>
  </div>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
  </mat-menu>
</div>
