.menu-desktop {
  width: 100%;

  .nav-bar {
    .item {
      margin-left: 10px;
    }
  }

  .account {
    margin-left: 10px;
  }
}

.menu-mobile {
  padding-bottom: 1vh;
}

// .shrink-toolbar {
//   position: fixed;
//   top: 0;
// }

.shrink-toolbar-hide {
  display: none;
}
