<div class="item">
  <div style="text-align: center;">
    <img
      [ngStyle]="{ width: '100%' }"
      [ngStyle.sm]="{ width: '85%' }"
      [ngStyle.xs]="{ width: '85%' }"
      src="{{ image }}"
      alt="{{ title }}"
    />
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 5px;">
    <div class="rate">{{ rate | kConverter }}</div>
    <div>
      <p class="title" *ngIf="title">{{ title }}</p>
      <div class="description" [innerHTML]="description"></div>
    </div>
  </div>
</div>
