.selection {
  margin-bottom: 5vw;

  label {
    cursor: pointer;

    i {
      font-size: 20px;
      padding: 5px;
    }
  }

  mat-card {
    z-index: 2;
  }

  .item {
    position: relative;
    cursor: pointer;
  }

  .item-left-wrap {
    .after {
      &::after {
        position: absolute;
        right: -18px;
        top: 50%;
        content: "";
        width: 16px;
        height: 16px;
        background-color: #ffffff;
        border: 1px solid #d6d9dc;
        box-shadow: 2px 0 8px rgba(59, 64, 69, 0.1);
        transform: translateY(-50%) translateX(-50%) rotate(45deg);
        transition: all 0.2s;
      }
    }
  }

  .item-right-wrap {
    .before {
      &::before {
        position: absolute;
        left: -1px;
        top: 50%;
        content: "";
        width: 16px;
        height: 16px;
        background-color: #ffffff;
        border: 1px solid #d6d9dc;
        box-shadow: 2px 0 8px rgba(59, 64, 69, 0.1);
        transform: translateY(-50%) translateX(-50%) rotate(45deg);
        transition: all 0.2s;
      }
    }
  }
}
