footer {
  background-color: #242729;
  color: #6a737c;
  padding-top:  4vh;

  h4 {
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  a {
    color: #6a737c;
  }

  .about {
    img {
      max-width: 160px;
    }
  }

  .link {
    li {
      display: block;
      margin-bottom: 10px;
    }
  }

  .follow {
    li {
      display: inline;
      font-size: 34px;
      font-weight: 700;
      cursor: pointer;
    }
    
    .mgr {
      margin-right: 20px;
    }

    .mg {
      margin: 0px 8px;
    }
  }

  .list-item {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  .copyright {
    text-align: center;
    background-color: #e1ecf4 !important;
    padding: 5px 0px;
  }
}
