<div class="service" fxLayout="column" fxLayoutAlign="center center">
  <div class="slogun" fxLayout="column" fxLayoutAlign="center center">
    <h2>{{ title }}</h2>
    <hr />
    <div class="action">
      <button
        mat-stroked-button
        *ngIf="strokedName"
        [routerLink]="[strokedLink]"
      >
        {{ strokedName }}
      </button>
      <button mat-flat-button *ngIf="flatName" [routerLink]="[flatLink]">
        {{ flatName }}
      </button>
    </div>
  </div>
  <div
    class="service-list"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="center end"
    fxLayoutAlign.xs="center center"
    fxLayoutGap="30px"
  >
    <app-combo
      *ngFor="let item of dataSource"
      title="{{ item.name }}"
      combo="{{ item.methodName }}"
      delivery="{{ item.methodDescription }}"
      description="{{ item.description }}"
      rate="{{ item.rate }}"
    >
    </app-combo>
  </div>
</div>
