<div class="service" fxLayout="column" fxLayoutAlign="center center">
  <div class="slogun" fxLayout="column" fxLayoutAlign="center center">
    <h1>Unlock siloed knowledge with Stack Overflow for Teams</h1>
    <hr />
    <p>Wikis, chat messages, or formal documentation for knowledge management aren’t effective. Our question and answer
      format is a proven approach for accessing the right information in less time.</p>
    <button mat-button>Learn more</button>
  </div>
  <div class="service-list">
    <app-service-list></app-service-list>
  </div>
</div>