<div class="service" fxLayout="column" fxLayoutAlign="center center">
  <div class="slogun" fxLayout="column" fxLayoutAlign="center center">
    <h1>Unlock siloed knowledge with Stack Overflow for Teams</h1>
    <hr />
    <p>Wikis, chat messages, or formal documentation for knowledge management aren’t effective. Our question and answer format is a proven approach for accessing the right information in less time.</p>
    <button mat-button>Learn more</button>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center end" fxLayoutAlign.xs="center center" fxLayoutGap="30px">
    <div fxFlex="auto" class="item">
      <mat-card>
        <div class="item-header">
          <h4>Shiba Inu</h4>
          <p>Private Q&A for teams</p>
        </div>
        <div class="item-content">
          <div class="price">
            <div class="rate">5$</div>
            <div class="detail">
              <p>Per user / month</p>
              <p>billed annually</p>
            </div>
          </div>
          <ul class="description">
            <li>
              <mat-icon class="icon">done</mat-icon>
              <div class="text">Unlimited private questions and answers</div>
            </li>
            <li>
              <mat-icon class="icon">done</mat-icon>
              <div class="text">Unlimited private questions and answers</div>
            </li>
            <li>
              <mat-icon class="icon">done</mat-icon>
              <div class="text">Unlimited private questions and answers</div>
            </li>
            <li>
              <mat-icon class="icon">done</mat-icon>
              <div class="text">Unlimited private questions and answers</div>
            </li>
          </ul>
        </div>
        <div class="item-action">
          <button mat-button>LIKE</button>
        </div>
      </mat-card>
    </div>

    <div fxFlex="auto" class="item">
      <mat-card>
        <div class="item-header">
          <h4>Shiba Inu</h4>
          <p>Private Q&A for teams</p>
        </div>
        <div class="item-content">
          <div class="price">
            <div class="rate">5$</div>
            <div class="detail">
              <p>Per user / month</p>
              <p>billed annually</p>
            </div>
          </div>
          <ul class="description">
            <li>
              <mat-icon class="icon">done</mat-icon>
              <div class="text">Unlimited private questions and answers</div>
            </li>
            <li>
              <mat-icon class="icon">done</mat-icon>
              <div class="text">Unlimited private questions and answers</div>
            </li>
            <li>
              <mat-icon class="icon">done</mat-icon>
              <div class="text">Unlimited private questions and answers</div>
            </li>
            <li>
              <mat-icon class="icon">done</mat-icon>
              <div class="text">Unlimited private questions and answers</div>
            </li>
          </ul>
        </div>
        <div class="item-action">
          <button mat-button>LIKE</button>
        </div>
      </mat-card>
    </div>

    <div fxFlex="auto" class="item">
      <mat-card>
        <div class="item-header">
          <h4>Shiba Inu</h4>
          <p>Private Q&A for teams</p>
        </div>
        <div class="item-content">
          <div class="price">
            <div class="rate">5$</div>
            <div class="detail">
              <p>Per user / month</p>
              <p>billed annually</p>
            </div>
          </div>
          <ul class="description">
            <li>
              <mat-icon class="icon">done</mat-icon>
              <div class="text">Unlimited private questions and answers</div>
            </li>
            <li>
              <mat-icon class="icon">done</mat-icon>
              <div class="text">Unlimited private questions and answers</div>
            </li>
            <li>
              <mat-icon class="icon">done</mat-icon>
              <div class="text">Unlimited private questions and answers</div>
            </li>
            <li>
              <mat-icon class="icon">done</mat-icon>
              <div class="text">Unlimited private questions and answers</div>
            </li>
          </ul>
        </div>
        <div class="item-action">
          <button mat-button>LIKE</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>