@import '../../../../variables';

.price-list {
  padding: 2vw;
  
  .title {
    margin-top: 0px;
    margin-bottom: 30px;
    color: $color-primary;
  }

  .item {
    margin-bottom: 50px;
  }

  .item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    app-item {
      padding: 20px;
    }
  }
}
