<div class="work-list" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center">
  <div class="item-wrap" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
    <app-work-item fxFlex="auto"></app-work-item>
    <app-work-item fxFlex="auto"></app-work-item>
  </div>
  <div class="item-wrap" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
    <app-work-item fxFlex="auto"></app-work-item>
    <app-work-item fxFlex="auto"></app-work-item>
  </div>
</div>