<div class="container background">
    <div class="process">
        <div class="text-center">
            <img src="../../../../assets/process_laundry_icon.jpg">
            <h2>Quy trình giặt sấy - giặt hấp</h2>
            <p>Không chỉ làm sạch và giao nhận, GiaSach còn Chăm sóc và Làm Đẹp cho quần áo của bạn.</p>
            <img style="width: 100%" src="../../../../assets/quy-trinh-giat-ui-giat-hap-ao-quan-thumb.jpg">
        </div>
        <div class="work-follow">
            <app-work-follow></app-work-follow>
        </div>
    </div>
</div>