<app-jumbotron
  *ngIf="carousel"
  title="{{ carousel.title }}"
  description="{{ carousel.description }}"
  strokedName="{{ carousel.firstButton }}"
  strokedLink="{{ carousel.firstLink }}"
  flatName="{{ carousel.secondButton }}"
  flatLink="{{ carousel.secondLink }}"
></app-jumbotron>

<app-guide></app-guide>
<app-service></app-service>

<div
  class="work-follow"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
  *ngIf="posts"
>
  <div class="slogun">
    <h2>Learn and grow with Stack Overflow</h2>
    <hr />
  </div>
  <app-post-list></app-post-list>
</div>

<app-selection [dataSource]="selection"></app-selection>
