<app-jumbotron
  *ngIf="carousel"
  title="{{ carousel.title }}"
  description="{{ carousel.description }}"
  strokedName="{{ carousel.firstButton }}"
  strokedLink="{{ carousel.firstLink }}"
  flatName="{{ carousel.secondButton }}"
  flatLink="{{ carousel.secondLink }}"
></app-jumbotron>

<app-guide
  *ngIf="guide"
  [title]="guide.title"
  [description]="guide.description"
  [background]="guide.image"
  [dataSource]="guide.posts"
></app-guide>
<app-service></app-service>

<div
  style="text-align: center"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
  *ngIf="process"
>
  <div class="slogun">
    <h2>Learn and grow with Stack Overflow</h2>
    <hr />
  </div>
  <app-post-list [dataSource]="process"></app-post-list>
</div>

<app-selection [dataSource]="selection"></app-selection>
