.book-now {
  padding: 2vw;

  .address {
    .address-item {
      h5 {
        margin-top: 0px;
        margin-bottom: 7px;
      }

      p {
        margin: 0px;
        font-size: 14px;
        white-space: normal;
      }
    }
  }

  .service {
    .sub-step {
      margin: 15px 0px;
    }
  }

  .step-action {
    margin-top: 20px;
  }

  .date {
    mat-form-field {
      min-width: 250px;
    }

    .pdr{
      padding-right: 30px;
    }
  }
}
