<div class="container background">
  <mat-horizontal-stepper class="book-now" [linear]="true" #stepper>
    <mat-step [stepControl]="serviceFormGroup">
      <form [formGroup]="serviceFormGroup">
        <ng-template matStepLabel>Dịch vụ</ng-template>
        <div class="min-height">
          <div
            fxLayout="row"
            fxLayoutAlign="space-between start"
            fxLayout.xs="column"
            fxLayoutAlign.xs="none"
          >
            <div class="service" fxFlex="auto">
              <div
                class="sub-step"
                *ngIf="getWayClean && getWayClean.length > 0"
              >
                <h5 class="title">1. Chọn hình thức giặt</h5>
                <div class="content">
                  <mat-radio-group
                    formControlName="method"
                    fxLayout="column"
                    fxLayoutGap="10px"
                  >
                    <mat-radio-button
                      *ngFor="let item of getWayClean"
                      value="{{ item.id }}"
                      >{{ item.name }}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="sub-step" *ngIf="getWaySoft && getWaySoft.length > 0">
                <h5 class="title">2. Chọn nước giặt và xả vải</h5>
                <div class="content">
                  <mat-radio-group
                    formControlName="soft"
                    fxLayout="row"
                    fxLayoutGap="10px"
                  >
                    <mat-radio-button
                      *ngFor="let item of getWaySoft"
                      value="{{ item.id }}"
                      >{{ item.name }}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div
                class="sub-step"
                *ngIf="getWayStraight && getWayStraight.length > 0"
              >
                <h5 class="title">3. Ủi đồ</h5>
                <div class="content">
                  <mat-radio-group
                    formControlName="straight"
                    fxLayout="column"
                    fxLayoutGap="10px"
                  >
                    <mat-radio-button
                      *ngFor="let item of getWayStraight"
                      value="{{ item.id }}"
                      >{{ item.name }}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div
                class="sub-step"
                *ngIf="getWayClean && getWayStraight && getWaySoft"
              >
                <h5 class="title">4. Ghi chú</h5>
                <div class="content">
                  <mat-form-field appearance="outline" style="width: 100%">
                    <textarea
                      formControlName="note"
                      matInput
                      placeholder="Ghi chú cho chúng tôi"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="discount">
              <mat-form-field>
                <input matInput placeholder="Mã giảm giá / Quà tặng" />
              </mat-form-field>
              <button mat-raised-button color="primary">Apply</button>
            </div>
          </div>
          <div class="step-action">
            <button mat-raised-button matStepperNext color="primary">
              Tiếp Theo
            </button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="contactFormGroup">
      <form [formGroup]="contactFormGroup">
        <ng-template matStepLabel>Liên hệ</ng-template>
        <div class="min-height">
          <div
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutAlign="space-between start"
            fxLayoutAlign.xs="none"
          >
            <div class="phone" fxFlex="40" fxFlex.xs="auto">
              <mat-form-field>
                <input
                  formControlName="phone"
                  matInput
                  placeholder="Số diện thoại"
                  (change)="onPhoneChanged($event)"
                />
              </mat-form-field>
              <button mat-button color="primary" *ngIf="alreadyExists">
                Thêm địa chỉ mới
              </button>
            </div>
            <div
              class="address"
              fxFlex="60"
              fxFlex.xs="auto"
              *ngIf="alreadyExists"
            >
              <mat-radio-group
                formControlName="addressId"
                fxLayout="column"
                fxLayoutGap="20px"
              >
                <mat-radio-button value="1">
                  <div class="address-item">
                    <h5>Hoàng Ngọc Hạnh</h5>
                    <p>
                      Địa chỉ: Cổng B, Khu cảng cát lái, Đường lê phụng hiểu,
                      Phường cát lái, Quận 2, Phường Cát Lái, Quận 2, Hồ Chí
                      Minh Việt Nam
                    </p>
                  </div>
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div
              class="contact"
              fxFlex="60"
              fxLayout="column"
              fxFlex.xs="auto"
              *ngIf="!alreadyExists"
            >
              <mat-form-field>
                <input
                  formControlName="fullName"
                  matInput
                  placeholder="Họ tên"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Tỉnh/Thành phố</mat-label>
                <mat-select
                  formControlName="province"
                  (selectionChange)="onProvinceChanged($event.value)"
                >
                  <mat-option
                    *ngFor="let item of provinces"
                    [value]="item.id"
                    >{{ item.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Quận/Huyện</mat-label>
                <mat-select
                  formControlName="district"
                  (selectionChange)="onDistrictChanged($event.value)"
                >
                  <mat-option
                    *ngFor="let item of districts"
                    [value]="item.id"
                    >{{ item.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Phường/Xã</mat-label>
                <mat-select formControlName="wards">
                  <mat-option *ngFor="let item of wards" [value]="item.id">{{
                    item.name
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 100%">
                <textarea
                  formControlName="street"
                  matInput
                  placeholder="Địa chỉ: số nhà, đường..."
                ></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="date">
            <h5 class="title">Thời gian chúng tôi đến nhận đồ</h5>
            <div fxLayout="row" fxLayout.xs="column">
              <mat-form-field ngClass="pdr">
                <mat-label>Chọn ngày</mat-label>
                <mat-select formControlName="dateOfReceipt">
                  <mat-option
                    *ngFor="let item of activeDay"
                    [value]="item.key"
                    >{{ item.value }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-form-field ngClass="pdr">
                <mat-label>Chọn giờ</mat-label>
                <mat-select formControlName="hoursOfReceipt">
                  <mat-option
                    *ngFor="let item of transportTime"
                    [value]="item.id"
                    ><div
                      class="inner"
                      fxLayout="row"
                      fxLayoutAlign="space-between start"
                    >
                      <strong>{{ item.name }}</strong>
                      <div
                        *ngIf="item.description && item.description.length > 0"
                        [innerHTML]="item.description"
                      ></div></div
                  ></mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="step-action">
            <button mat-stroked-button matStepperPrevious color="primary">
              Quay lại
            </button>
            <button mat-raised-button matStepperNext color="primary">
              Hoàn thành
            </button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Hoàn thành</ng-template>
      <div class="min-height done">
        <h4>Bạn đã đặt dịch vụ thành công!</h4>
      </div>
      <!-- <div class="step-action">
        <button mat-button matStepperPrevious>Quay lại</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div> -->
    </mat-step>
  </mat-horizontal-stepper>
</div>
