<div class="service">
  <div class="form">
    <div class="search">
      <mat-form-field>
        <input matInput placeholder="Tên dịch vụ" />
      </mat-form-field>
      <button mat-flat-button color="primary">Tìm kiếm</button>
    </div>
    <div class="add">
      <button mat-flat-button color="primary" (click)="onShowAddDialog()">
        Thêm
      </button>
    </div>
  </div>
  <div class="list">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" width="100">#</th>
          <th scope="col">Type</th>
          <th scope="col">Name</th>
          <th scope="col" class="text-right">Rate</th>
          <th scope="col" class="text-right">Discount</th>
          <th scope="col" class="text-center">Delivery</th>
          <th scope="col" width="100">Hightlight</th>
          <th scope="col" width="100">SortOrder</th>
          <th scope="col" width="150"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataSource; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.type }}</td>
          <td>{{ item.name }}</td>
          <td class="text-right">{{ item.rate }}</td>
          <td class="text-right">{{ item.discount }}</td>
          <td class="text-center">{{ item.deliveryName }}</td>
          <td class="text-center">{{ item.highlight }}</td>
          <td class="text-center">{{ item.sortOrder }}</td>
          <td>
            <div class="action text-center">
              <button type="button" class="btn btn-primary btn-sm" (click)="onShowEditDialog(item)">
                <i class="fa fa-edit"></i>
              </button>
              <button type="button" class="btn btn-sm btn-outline-danger" (click)="onDeleteItemClick(item)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p-dialog header="Thêm mới dịch vụ" [(visible)]="display" [modal]="true" [responsive]="true"
  [style]="{ width: '959px' }" [maximizable]="true">
  <form [formGroup]="formControls">
    <div class="form-group row">
      <label for="image" class="col-sm-2 col-form-label required">Hình ảnh</label>
      <div class="col-sm-8">
        <p-fileUpload [chooseLabel]="'Chọn hình ảnh'" accept="image/*" maxFileSize="2000000" [multiple]="false"
          [showUploadButton]="false" [showCancelButton]="false" [auto]="true" [invalidFileSizeMessageSummary]="
                '{0}: Vui lòng kiểm tra lại dung lượng file!'
              " [invalidFileSizeMessageDetail]="'Dung lượng tối đa cho phép là {0}.'"
          [invalidFileTypeMessageSummary]="'{0}: Định dạng file không hợp lệ!'"
          [invalidFileTypeMessageDetail]="'Định dạng cho phép: {0}.'" (onSelect)="onImageSelected($event)">
        </p-fileUpload>
        <label>Dung lượng file tối đa là 2MB.</label>
        <div class="error" *ngIf="submitted && controls.image.errors">
          <label *ngIf="controls.image.errors.required">Hình ảnh dịch vụ bắt buộc chọn.</label>
        </div>
      </div>
      <div class="col-sm-2">
        <img *ngIf="controls.image.value" src="{{ controls.image.value }}" class="img-thumbnail thumbnail" />
        <div *ngIf="!controls.image.value || controls.image.value.length === 0" class="thumbnail"></div>
      </div>
    </div>
    
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label required">Tên</label>
      <div class="col-sm-4">
        <input formControlName="name" class="form-control" id="name" placeholder="Tên dịch vụ" />
        <div class="error" *ngIf="submitted && controls.name.errors">
          <label *ngIf="controls.name.errors.required">Tên dịch vụ bắt buộc nhập.</label>
        </div>
      </div>
      <div class="col-sm-3">
        <p-dropdown [options]="itemTypes" optionLabel="value" formControlName="type" placeholder="Loại dịch vụ">
        </p-dropdown>
        <div class="error" *ngIf="submitted && controls.type.errors">
          <label *ngIf="controls.type.errors.required">Loại dịch vụ bắt buộc nhập.</label>
        </div>
      </div>
      <div class="col-sm-3">
          <p-dropdown [options]="deliveryMethods" optionLabel="name" formControlName="delivery" placeholder="Phương thức vận chuyển">
          </p-dropdown>
          <div class="error" *ngIf="submitted && controls.delivery.errors">
            <label *ngIf="controls.delivery.errors.required">Phương thức vận chuyển vụ bắt buộc nhập.</label>
          </div>
        </div>
    </div>

    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Mô tả</label>
      <div class="col-sm-10">
        <textarea formControlName="description" class="form-control" id="description" rows="5"></textarea>
        <div class="error" *ngIf="submitted && controls.description.errors">
          <label *ngIf="controls.description.errors.required">Mô tả dịch vụ bắt buộc nhập.</label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="sortOrder" class="col-sm-2 col-form-label required">Thứ tự sắp xếp</label>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-4">
            <input formControlName="sortOrder" class="form-control" id="sortOrder" type="number" min="1" />
          </div>
          <div class="col-sm-8">
            <div class="form-check">
              <label class="form-check-label" for="highlight">
                <input formControlName="highlight" class="form-check-input" type="checkbox" id="highlight" />
                Nỗi bật
              </label>
            </div>
          </div>
        </div>

        <div class="error" *ngIf="submitted && controls.sortOrder.errors">
          <label *ngIf="controls.sortOrder.errors.required">Thứ tự sắp xếp dịch vụ bắt buộc nhập.</label>
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <button type="button" class="btn btn-primary" color="primary" (click)="onSaveItemClick()">
      Save
    </button>
    <button type="button" class="btn btn-default" (click)="display = false">
      Cancal
    </button>
  </p-footer>
</p-dialog>