<div class="service">
  <div class="form">
    <div class="search">
      <mat-form-field>
        <input matInput placeholder="Tên dịch vụ" />
      </mat-form-field>
      <button mat-flat-button color="primary">Tìm kiếm</button>
    </div>
    <div class="add">
      <button mat-flat-button color="primary" (click)="onShowAddDialog()">
        Thêm
      </button>
    </div>
  </div>
  <div class="list">
    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="name" sticky>
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef>Weight</th>
          <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef>Symbol</th>
          <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
        </ng-container>

        <!-- Star Column -->
        <ng-container matColumnDef="star" stickyEnd>
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon>more_vert</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>

<p-dialog
  header="Thêm mới dịch vụ"
  [(visible)]="display"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '800px' }"
  [maximizable]="true"
>
  <form>
    <div class="form-group row">
      <label for="image" class="col-sm-2 col-form-label">Hình ảnh</label>
      <div class="col-sm-10">
        <p-fileUpload
          chooseLabel="Chọn hình ảnh"
          showCancelButton="false"
          showUploadButton="false"
          accept="image/*"
          [auto]="true"
        ></p-fileUpload>
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Tên</label>
      <div class="col-sm-10">
        <input class="form-control" id="name" placeholder="Tên dịch vụ" />
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Mô tả</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="description" rows="5"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label for="order" class="col-sm-2 col-form-label">Sắp xếp</label>
      <div class="col-sm-3">
        <input
          class="form-control"
          id="description"
          value="1"
          type="number"
          min="1"
        />
      </div>
      <div class="col-sm-2">
        <div class="form-check">
          <label class="form-check-label" for="highlights">
            <input class="form-check-input" type="checkbox" id="highlights" />
            Nỗi bật
          </label>
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <button
      type="button"
      mat-flat-button
      color="primary"
      (click)="display = false"
    >
      Save
    </button>
    <button type="button" mat-flat-button (click)="display = false">
      Cancal
    </button>
  </p-footer>
</p-dialog>
