<div class="price-list">
  <div class="form">
    <div class="search">
      <mat-form-field>
        <input matInput placeholder="Tên dịch vụ" />
      </mat-form-field>
      <button mat-flat-button color="primary">Tìm kiếm</button>
    </div>
    <div class="add">
      <button mat-flat-button color="primary" (click)="onShowAddDialog()">
        Thêm
      </button>
    </div>
  </div>
  <div class="list">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" width="100">#</th>
          <th scope="col">Dịch vụ</th>
          <th scope="col">Đơn giá sau thế</th>
          <th scope="col">VAT (%)</th>
          <th scope="col">Giảm giá (%)</th>
          <th scope="col">Đơn giá sau giảm giá</th>
          <th scope="col">Độ ưu tiên</th>
          <th scope="col">Kích hoạt</th>
          <th scope="col">Ngày áp dụng</th>
          <th scope="col" width="150"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataSource; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.itemName }}</td>
          <td>{{ item.rate }}</td>
          <td>{{ item.tax }}</td>
          <td>{{ item.discount }}</td>
          <td>{{ item.discountRate }}</td>
          <td>{{ item.priority }}</td>
          <td>{{ item.isActive }}</td>
          <td>{{ item.applyDate }}</td>
          <td>
            <div class="action text-center">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                (click)="onShowEditDialog(item)"
              >
                <i class="fa fa-edit"></i>
              </button>
              <button
                type="button"
                class="btn btn-sm btn-outline-danger"
                (click)="onDeleteClick(item)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p-dialog
  header="Thêm mới giá dịch vụ"
  [(visible)]="display"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '959px' }"
  [maximizable]="true"
>
  <form [formGroup]="formControls">
    <div class="form-group row">
      <label for="item" class="col-sm-2 col-form-label required">Dịch vụ</label>
      <div class="col-sm-10">
        <p-dropdown
          [style]="{ minWidth: '400px' }"
          [options]="items"
          optionLabel="name"
          formControlName="item"
          [filter]="true"
          filterBy="name"
          placeholder="Chọn dịch vụ"
        ></p-dropdown>

        <div class="error" *ngIf="submitted && controls.item.errors">
          <label *ngIf="controls.item.errors.required"
            >Dịch vụ bắt buộc nhập.</label
          >
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="rate" class="col-sm-2 col-form-label required">Đơn giá</label>
      <div class="col-sm-3">
        <input
          formControlName="rate"
          class="form-control"
          id="rate"
          type="number"
          min="0"
        />
        <div class="error" *ngIf="submitted && controls.rate.errors">
          <label *ngIf="controls.rate.errors.required"
            >Đơn giá bắt buộc nhập.</label
          >
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="tax" class="col-sm-2 col-form-label required">VAT (%)</label>
      <div class="col-sm-3">
        <input
          formControlName="tax"
          class="form-control"
          id="tax"
          type="number"
          min="0"
        />
        <div class="error" *ngIf="submitted && controls.tax.errors">
          <label *ngIf="controls.tax.errors.required">VAT bắt buộc nhập.</label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="discount" class="col-sm-2 col-form-label required"
        >Giảm giá</label
      >
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-4">
            <input
              formControlName="discount"
              class="form-control"
              id="discount"
              type="number"
              min="0"
            />
          </div>
          <div class="col-sm-4">
            <input class="form-control" disabled />
          </div>
        </div>
        <div class="error" *ngIf="submitted && controls.discount.errors">
          <label *ngIf="controls.discount.errors.required"
            >Giảm giá bắt buộc nhập.</label
          >
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label required">Thời gian áp dụng</label>
      <div class="col-sm-3">
        <p-calendar
          formControlName="applyDate"
          dateFormat="dd-mm-yy"
          placeholder="Ngày bắt đầu"
          [required]="false"
          showTime="true"
          hourFormat="24"
        ></p-calendar>
      </div>
      <div
        class="error"
        *ngIf="submitted && controls.applyDate.errors?.required"
      >
        <label *ngIf="controls.applyDate.errors?.required"
          >Thời gian áp dụng bắt buộc nhập.</label
        >
      </div>
    </div>
    <div class="form-group row">
      <label for="priority" class="col-sm-2 col-form-label required"
        >Độ ưu tiên</label
      >
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-2">
            <input
              formControlName="priority"
              class="form-control"
              id="priority"
              type="number"
              min="1"
            />
          </div>
          <div class="col-sm-8">
            <div class="form-check">
              <label class="form-check-label" for="isActive">
                <input
                  formControlName="isActive"
                  class="form-check-input"
                  type="checkbox"
                  id="isActive"
                />
                Kích hoạt
              </label>
            </div>
          </div>
        </div>

        <div class="error" *ngIf="submitted && controls.priority.errors">
          <label *ngIf="controls.priority.errors.required"
            >Độ ưu tiên bắt buộc nhập.</label
          >
        </div>
      </div>
    </div>
  </form>

  <p-footer>
    <button
      type="button"
      class="btn btn-primary"
      color="primary"
      (click)="onSaveClick()"
    >
      Save
    </button>
    <button type="button" class="btn btn-default" (click)="display = false">
      Cancal
    </button>
  </p-footer>
</p-dialog>

<p-confirmDialog
  header="Xác nhận xóa!"
  [style]="{ width: '50vw' }"
></p-confirmDialog>
