<div
  class="guide"
  fxLayout="row"
  fxLayoutAlign="space-evenly stretch"
  fxLayout.xs="column"
>
  <div
    class="guide-background"
    fxFlex="50"
    fxFlex.sm="50"
    fxFlex.sx="auto"
    fxFlexOrder.xs="2"
  >
    <img
      class="m-img"
      [ngStyle]="{ width: '40%' }"
      [ngStyle.md]="{ width: '45%' }"
      [ngStyle.sm]="{ width: '70%' }"
      [ngStyle.xs]="{ width: '70%' }"
      src="{{ background }}"
    />
  </div>
  <div
    class="guide-step"
    fxHide
    fxShow.xs
    fxLayoutGap="20px"
    fxLayoutGap.xs="0"
  >
    <ul fxLayout.xs="row" fxLayoutAlign="center center">
      <li
        *ngFor="let item of dataSource; let i = index"
        (click)="onMoveClicked(i)"
        [ngClass]="{ item: true, active: steps[i] }"
      >
        <span>{{ i + 1 }}</span>
      </li>
    </ul>
  </div>
  <div
    class="guide-follow"
    fxFlex="50"
    fxFlex.sm="50"
    fxFlex.sx="auto"
    fxFlexOrder.xs="1"
  >
    <ul ngClass="list" ngClass.xs="m-list" fxLayout.xs="row">
      <li
        *ngFor="let item of dataSource; let i = index"
        (click)="onMoveClicked(i)"
        [ngClass]="{ item: true, active: steps[i] }"
      >
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
      </li>
    </ul>
  </div>
</div>
