@import '../../../variables';

.guide {
  margin-top: -2vw;
  padding-top: 5vw;
  margin-bottom: 5vw;

  h3 {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  p {
    margin-top: 0px;
  }

  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  .guide-background {
    text-align: center;

    .m-img {
      margin: 0 auto;
    }
  }

  .guide-step {
    .item {
      position: relative;

      ::after {
        font-family: "Material Icons";
        position: absolute;
        content: "\e5c8";
        color: #000000;
        right: -23px;
      }

      &:last-child {
        ::after {
          content: "";
        }
      }

      margin: 0px 15px;
      padding: 8px 13px;
      border-radius: 30px;
      border: 1px solid $color-primary;

      span {
        color: #000000;
      }
    }

    .active {
      background: $color-primary;

      span {
        color: #ffffff;
      }
    }
  }

  .guide-follow {
    .list {
      list-style-type: decimal-leading-zero;
      width: 80%;

      :hover {
        color: $color-primary;
      }

      .item {
        position: relative;
        cursor: pointer;
        margin-bottom: 20px;
      }

      .active {
        color: $color-primary;
      }
    }

    .m-list {
      padding: 0;
      text-align: center;
      width: 90%;
      margin: auto;
      margin-top: 20px;

      .item {
        display: none;
        width: 100%;
      }

      .active {
        display: block;
      }
    }
  }
}
