.admin-content {
  padding: 0px 20px;

  mat-sidenav {
    min-width: 300px;
  }
}

.mat-drawer-container {
  position: unset !important;
  z-index: 0 !important;

  .mat-drawer.mat-drawer-side {
    z-index: 0 !important;
  }

  .mat-drawer-content {
    position: unset !important;
    z-index: 0 !important;
  }
}