<link type="text/css" href="/shared/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="/shared/css/primeicons/primeicons.css"/>
<link type="text/css" href="/shared/css/themes/nova-light/theme.css" rel="stylesheet"/>
<link type="text/css" href="/shared/css/primeng.min.css" rel="stylesheet"/>

<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="true" [fixedInViewport]="true">
    <app-admin-side-bar></app-admin-side-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-admin-header></app-admin-header>
    <div class="admin-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>