.admin-content {
  padding: 0px 20px;

  mat-sidenav {
    min-width: 300px;
  }
}

.mat-drawer-container {
  position: unset !important;
  z-index: 0 !important;

  .mat-drawer.mat-drawer-side {
    z-index: 0 !important;
  }

  .mat-drawer-content {
    position: unset !important;
    z-index: 0 !important;
  }
}

table {
  .action {
    button {
      margin: 0 10px;
    }
  }
}

.form-check {
  line-height: 40px;

  label {
    line-height: 24px;
  }
}

.required::after {
  content: "(*)";
  padding: 5px;
  color: #ff3733;
  font-weight: bold;
}

.error {
  color: #ff3733;
  margin-top: 5px;

  label {
    color: #ff3733;
    margin-top: 5px;
  }
}
