<div class="item">
  <mat-card>
    <div class="item-header">
      <h4>{{ title }}</h4>
    </div>
    <div class="item-content">
      <div class="price">
        <div class="rate">{{ rate }}</div>
        <div class="detail">
          <div>{{ combo }}</div>
          <div [innerHTML]="delivery"></div>
        </div>
      </div>
      <div class="description" [innerHTML]="description">
        <ul>
          <li>
            <span class="icon"><i class="fa fa-check"></i></span>
            <div class="text">Unlimited private questions and answers</div>
          </li>
          <li>
            <span class="icon"><i class="fa fa-check"></i></span>
            <div class="text">Unlimited private questions and answers</div>
          </li>
          <li>
            <span class="icon"><i class="fa fa-check"></i></span>
            <div class="text">Unlimited private questions and answers</div>
          </li>
          <li>
            <span class="icon"><i class="fa fa-check"></i></span>
            <div class="text">Unlimited private questions and answers</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="item-action">
      <button mat-button>LIKE</button>
    </div>
  </mat-card>
</div>
