<div class="item">
    <mat-card>
        <div class="item-header">
            <h4>{{ title}}</h4>
            <p>{{ description }}</p>
        </div>
        <div class="item-content">
            <div class="price">
                <div class="rate">{{ rate }}</div>
                <div class="detail">
                    <p>Per user / month</p>
                    <p>billed annually</p>
                </div>
            </div>
            <ul class="description">
                <li>
                    <mat-icon class="icon">done</mat-icon>
                    <div class="text">Unlimited private questions and answers</div>
                </li>
                <li>
                    <mat-icon class="icon">done</mat-icon>
                    <div class="text">Unlimited private questions and answers</div>
                </li>
                <li>
                    <mat-icon class="icon">done</mat-icon>
                    <div class="text">Unlimited private questions and answers</div>
                </li>
                <li>
                    <mat-icon class="icon">done</mat-icon>
                    <div class="text">Unlimited private questions and answers</div>
                </li>
            </ul>
        </div>
        <div class="item-action">
            <button mat-button>LIKE</button>
        </div>
    </mat-card>
</div>