<div class="container">
  <div class="about">
    <app-selection></app-selection>
    <div>
      <h4>Chúng tôi là ai</h4>
      <p>
        là ứng dụng cung cấp dịch vụ giặt ủi & vệ sinh cao cấp theo nhu cầu đầu
        tiên ở Vietnam. Sứ Mệnh của chúng tôi là giải phóng mọi người khỏi gánh
        nặng giặt ủi & công việc gia đình, mang trả lại thời gian để họ có thể tận
        hưởng cuộc sống của mình. Chúng tôi nỗ lực để mang đến những khoảnh khắc
        hạnh phúc cho hàng triệu gia đình!
      </p>
      <img src="../../../../assets/background-2.jpg" />
    </div>
  </div>
</div>