.service {
  background-color: #2b2d6e !important;
  // margin-bottom: -2vw;
  margin-top: -2vw;
  padding-top: 5vw;
  padding-bottom: 8vw;

  -webkit-clip-path: polygon(0 0, 100% 2vw, 100% calc(100% - 2vw), 0 100%);
  clip-path: polygon(0 0, 100% 2vw, 100% calc(100% - 2vw), 0 100%);

  .slogun {
    color: #ffffff;
  }

  .service-list {
    margin-top: 3vw;
  }

  .action {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: center !important;

    button {
      margin: 0 10px;
    }
  }
}
