.item {
  text-align: center;
  display: block;
  margin: 20px;
  cursor: pointer;

  .icon {
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    overflow: hidden;
    padding: 10px;

    img {
      width: 80px;
      height: 80px;
    }
  }

  .name {
    margin: 5px 0 8px 0px;
  }

  .rate {
    color: rgba(95, 69, 69, 0.54);
    margin: 0px;
    font-size: 14px;
  }
}
