.item {
  text-align: center;
  display: block;

  .icon {
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    overflow: hidden;
    padding: 14px;
    width: 80px;
    height: 80px;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .name {
    font-size: 18px;
    margin: 5px 0 8px 0px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .rate {
    color: rgba(95, 69, 69, 0.54);
    margin: 0px;
    font-size: 14px;
  }
}
