<footer>
  <div
    class="content"
    fxLayoutGap="20px"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign.xs="center center"
  >
    <div class="about" fxFlex="auto" ngClass.xs="text-center">
      <img class="logo" src="../../../../assets/logo.png" alt="logo" />
      <div class="info">
        <p>
          Công Ty TNHH Thương Mại Công Nghệ GO VIET
        </p>
        <p>
          Tầng 6, Trung Tâm Thương Mại RomeA, 117 Nguyễn Đình Chiểu, Phường 06,
          Quận 3, Thành Phố Hồ Chí Minh
        </p>
        <div class="app">
          <img src="../../../../assets/app-store-badge-small.png" />
          <img src="../../../../assets/google-play-badge-small.png" />
        </div>
      </div>
    </div>
    <div
      fxFlex="auto"
      fxLayout="column"
      fxLayoutGap="5vw"
      ngClass.xs="text-center"
    >
      <div>
        <div class="list-item link" fxFlex="auto">
          <h4>Giatsach.vn</h4>
          <ul>
            <li class="item"><a href=".">Chính sách sử dụng</a></li>
            <li class="item"><a href=".">Chính sách bảo mật</a></li>
          </ul>
        </div>
        <div class="list-item follow" fxFlex="auto">
          <h4>Follow us</h4>
          <ul>
            <li class="item"><i class="fa fa-facebook-square"></i></li>
            <li class="item"><i class="fa fa-instagram"></i></li>
            <li class="item"><i class="fa fa-youtube-square"></i></li>
          </ul>
        </div>
      </div>
      <div class="copyright"><h4>Copyright © 2019 GiatSach</h4></div>
    </div>
  </div>
</footer>
