.contact {
  padding: 2vw;

  .contact-form {
    padding: 0 20px;
  }

  .further-info {
    background: #f5f5f5;
    padding: 0px 50px;
    color: rgba(0, 0, 0, 0.87);
  }

  .title {
    margin-bottom: 30px;
  }

  .action {
    text-align: right;
  }
}
