<div class="service">
  <div class="form">
    <div class="search">
      <mat-form-field>
        <input matInput placeholder="Tên dịch vụ" />
      </mat-form-field>
      <button mat-flat-button color="primary">Tìm kiếm</button>
    </div>
    <div class="add">
      <button mat-flat-button color="primary" routerLink="add">
        Thêm
      </button>
    </div>
  </div>
  <div class="list">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" width="100">#</th>
          <th scope="col">Type</th>
          <th scope="col">Name</th>
          <th scope="col" class="text-right">Rate</th>
          <th scope="col" class="text-right">Discount</th>
          <th scope="col" class="text-center">Combo</th>
          <th scope="col" width="100">Hightlight</th>
          <th scope="col" width="100">SortOrder</th>
          <th scope="col" width="150"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataSource; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.type }}</td>
          <td>{{ item.name }}</td>
          <td class="text-right">{{ item.rate }}</td>
          <td class="text-right">{{ item.discount }}</td>
          <td class="text-center">{{ item.methodName }}</td>
          <td class="text-center">{{ item.highlight }}</td>
          <td class="text-center">{{ item.sortOrder }}</td>
          <td>
            <div class="action text-center">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                [routerLink]="'detail/' + item.id"
              >
                <i class="fa fa-edit"></i>
              </button>
              <button
                type="button"
                class="btn btn-sm btn-outline-danger"
                (click)="onDeleteItemClick(item)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
