<div
  class="work-list"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign="space-between start"
  fxLayoutAlign.xs="space-between center"
  fxLayoutAlign.sm="space-between center"
  *ngIf="dataSource"
>
  <div
    class="item-wrap"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between start"
    fxFlex="50"
    fxFlex.sm="auto"
  >
    <app-post-item
      *ngFor="let item of left"
      image="{{ item.image }}"
      title="{{ item.title }}"
      description="{{ item.description }}"
      fxFlex="50"
      fxFlex.sm="auto"
      fxFlex.xs="auto"
    ></app-post-item>
  </div>
  <div
    class="item-wrap"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between start"
    fxFlex="50"
    fxFlex.sm="auto"
  >
    <app-post-item
      *ngFor="let item of right"
      image="{{ item.image }}"
      title="{{ item.title }}"
      description="{{ item.description }}"
      fxFlex="50"
      fxFlex.sm="auto"
      fxFlex.xs="auto"
    ></app-post-item>
  </div>
</div>
