<div
  class="download"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
>
  <div class="background" fxFlex="auto">
    <img src="../../../assets/tai-ung-dung.png" />
  </div>
  <div class="app" fxFlex="auto" fxLayout="row" fxLayoutAlign="start center">
    <div class="qrcode">
      <img src="../../../assets/qr-code-one-link-update.png" />
    </div>
    <div class="store">
      <img class="ios" src="../../../assets/app-store-badge-small.png" />
      <img class="androind" src="../../../assets/google-play-badge-small.png" />
    </div>
  </div>
</div>
