/** Color */
$color-red: #ff0000;
$color-green: #00ff00;
$color-green-light: #7dc244;
$color-blue: #273986;
$color-blue-light: #4568ff;
$color-blue-blur: #3c8dbc;
$color-orange: #f4831e;
$color-black: #000000;
$color-white: #ffffff;
$color-white-light: #f2f2f2;
$color-white-blur: #f2f2f24a;
$color-gray: #666666;
$color-gray-light: #f5f5f580;

/* Font size */
$font-small: 13px;
$font-medium: 15px;
$font-large: 23px;

$color-primary: #f48024;
